body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#hidden-layer-body {
  display: none;
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0,0.7);
  z-index: 1;
}

#content-box{
  background-color: white;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  z-index: 1;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.link {
  stroke-width: 0.2rem;
}

text {  
  pointer-events: none;
}

.graph {
  float: left;
  margin: 0;
  padding: 0;
}

.show {
  float: left;
  width: 22rem;
  min-height: 100vh;
  margin: 0;
  padding-left: 0.6rem;
}

#left-side {
  border-right: black solid 0.16rem;
  padding-left: 0.6rem;
  min-height: 100vh;
  width: 25rem;
  float: left;
}

#right-side {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#right-side_button-graph-container{
  display: flex;
  flex-direction: column;
}

#hiddden-layer-right-side {
  display: none;
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0,0.7);
  z-index: 1;
}

.choose-hierarchy {
  margin-top: 1.25rem;
  display: none;
}

.choose-label {
  margin-top: 1.25rem;
  display: none;
}

rect {
  stroke-width: 0.16rem;
  stroke: #EA4C89;
}

.val {
  margin-bottom: 0;
  display: inline-block;
  text-align: center;
  margin-left: auto;
}

.patt {
  margin-bottom: 0;
  margin-right: 0.4rem;
  font-weight: bold;
  display: inline-block;
}

.small-image {
  height: 3.75rem;
  width: 5rem;
}

.animated-sequence {
  height: 9.4rem;
  width: 9.4rem;
  margin-top: 1.25rem;
  background-image: url('/images/floor.png');
  background-repeat: no-repeat;
  background-position: bottom;
  border: 0.2rem solid #EA4C89;
}

#run-sequence-button {
  float: left;
  height: 2rem;
  width: 2rem;
  background-image: url('/images/btn-play.png');
  background-repeat: no-repeat;
}

#stop-sequence-button {
  float: left;
  height: 2rem;
  width: 2rem;
  background-image: url('/images/btn-stop.png') !important;
  background-repeat: no-repeat;
}

.sliding-window {
  margin-left: 2rem;
  margin-top: 0.4rem;
  border: 0.125rem solid black;
  width: 18.75rem;
  height: 1rem;
}

.slider {
  margin-left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #EA4C89;
}

.times {
  padding-left: 1rem;
}

.load {
  padding-top: 0.6rem;
}

/* This is button is inspired https://getcssscan.com/css-buttons-examples, whre you can dowland button for free*/ 
.loadButton {
  background-color: #EA4C89;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 2.5rem;
  line-height: 1.25rem;
  list-style: none;
  margin-right: 0.3rem;
  margin-top: 0.5rem;
  outline: none;
  padding: 0.6rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.loadButton:hover,
.loadButton:focus {
  background-color: #F082AC;
}

.inputButton {
  display: none;
}

.default-cluster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 80%; 
  top: 50%;
}

svg {
  order: 2;
}

#hidden-layer-right-side-header {
  color: #FFFFFF;
}

#label-container {
  margin-bottom: 20px;
}

#cluster-info {
  width: 12rem;
  position: absolute;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  right: 0;
  z-index: 0;
  pointer-events: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.depth-container {
  display: flex;
  justify-content: space-between;
}

.depth-value {
  margin-right: 0.5rem;
}

h5 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
 
}

ul {
  margin: 0;
}

#upper-cluster {
  order: 1;
  margin-left: 0.5rem;
  width: 20%;
  margin-bottom: 0.5rem;
}