/*
    Authors:
        Jan Sedmidubsky, Brno, Czech Republic, sedmidubsky@gmail.com
*/

/********************* Other *********************/

.float-clear {
    clear: both;
}

.boldFont {
    font-weight: bold;    
}

.error {
    border: solid red 3px;
    color: red;
    font-weight: bold;
    margin: 12px 24px 12px 24px;
    padding: 12px;
}


/********************* Body *********************/

body {
    font-family: sans-serif;
    font-size: small;
}

#wrapper {
    background-color: #f9f9f9;
    border: solid grey 3px;
    box-shadow: 10px 10px 5px #888888;
    margin: 0px auto;
    padding: 0px;
    text-align: left;
    width: 1220px;
}


/********************* Header *********************/

.header .title {
    color: #f9f9f9;
    font-size: 43px;
    font-weight: 500;
    line-height: 1.2;
    padding-left: 12px;
    text-shadow: 2px 2px 0px #282828;
}

.header .subtitle {
    color:  #f9f9f9;
    font-size: medium;
    font-weight: bold;
    margin-left: 2px;
    text-shadow: 1px 1px 0px #282828;
}

.header .info-label {
    clear: both;
    float: left;
    margin-left: 8px;
    text-align: right;
    width: 120px;
}

.header .info-text {
    float: left;
    margin-left: 4px;
}


/********************* Section *********************/

.section {
    border-top: solid grey 3px;
    height: auto;
}

.section .subtitle {
    background-image: -webkit-linear-gradient(to right, silver, #f9f9f9); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(to right, silver, #f9f9f9); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(to right, silver, #f9f9f9); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to right, silver, #f9f9f9); /* Standard syntax */
    border: solid grey;
    border-width: 2px 0px 2px 2px;
    font-size: medium;
    font-weight: bold;
    margin: 12px 0px 0px 12px;
    padding: 4px 0px 4px 12px;
    width: auto;
}

.section .element {
    float: left;
    margin: 12px 24px 8px 8px;
}

.section .comboBox {
    max-width: 140px;
}

/********************* Result *********************/

.resultsUnlimited {
    height: auto;
    overflow: auto;
    padding-bottom: 12px;
}

.partialResults {
    max-height: 562px;
    overflow: auto;
    padding-bottom: 12px;
}

.resultMotionSequence {
    float: left;
    height: auto;
    margin: 10px 0px 0px 10px;
}

.resultwrap {
    background-color: #EAEAE8;
    padding: 5px 5px 5px 5px;
}

.relevanceScore {
    clear: both;
    font-size: smaller;
    margin-left: 5px;
}

.resultCanvas, .resultImage {
    border: solid grey 1px;
    float: left;
    margin: 5px 0px 6px 5px;
}

.resultImage {
    max-height: 235px;
    max-width: 220px;
}

.resultAction {
    float: left;
    margin: 5px 0px 0px 10px;
    text-align: left;
}

.resultMotionLink a {
    color: inherit;
}

.resultMotionLink a:hover {
    color: grey;
}

.resultMessage {
    margin: 0px 0px 12px 12px;
    padding-left: 12px;
    width: auto;
}

.classifiedPerson {
    float: left;
    font-size: small;
    margin: 8px 0px 0px 16px;
}

.classifiedPersonTitle, .classifiedPersonTitleSmall {
    float: left;
    text-align: right;
    width: 150px;
}

.classifiedPersonTitle {
    font-weight: bold;
}

.classifiedPersonName, .classifiedPersonNameSmall {
    font-size: small;
    font-weight: bold;
    margin-left: 8px;
}

.classifiedPersonConfidence, .classifiedPersonConfidenceSmall {
    font-size: small;
    font-weight: normal;
    margin-left: 4px;
}

.classifiedPersonTitle, .classifiedPersonName, .classifiedPersonConfidence {
    font-size: medium;
}

.personName {
    clear: both;
    font-size: smaller;
    margin-left: 5px;
}

.sequencePlayer {
    clear: both;
}

/********************* Actions *********************/

fieldset {
    margin-bottom: 8px;
    padding: 5px 8px;
}

.button {
    background-color:#f9f9f9;
    border-style: solid;
    border-color: #bbb #888 #666 #aaa;
    border-width: 1px 2px 2px 1px;
    color: #333;
    cursor: pointer;
    display: block;
    font-size: 13px;
    height: 34px;
    text-decoration: none;
    width: 140px;
}

.button:hover {
    background-color:#e0e0e0;
}

.button .btn-row {
    display: block;
}

.button-search {
    background-repeat: no-repeat;
    background-position: 3px center;
    padding-left: 40px;
    height: 34px;
    margin-top: 5px;
}

.button-identify-person {
    background-image: url('btn-human_silhouette.png');
    background-repeat: no-repeat;
    background-position: 3px center;
    padding-left: 40px;
}


/********************* Animation *********************/

.sliderWrapper {
    max-width: 1140px;
    overflow: auto;
    padding-bottom: 8px;
}

.sliderWrapper div div {
    background-color: rgb(139, 139, 139);
    background-image: none;
}

.sliderWrapper a.ui-slider-handle {
    background-image: url('handle.png');
    background-repeat: repeat-x;
    background-position: center center;
    border: 1px solid rgb(77, 73, 73);
}

.sliderWrapper .timeSlot-firstSecond {
    border-left: solid black 1px;
    float: left;
    padding-left: 4px;
    text-align: left;
    width: 55px;
}

.sliderWrapper .timeSlot-anotherSecond {
    border-left: solid black 1px;
    float: left;
    padding-left: 4px;
    text-align: left;
    width: 55px;
}

.play-sequence {
    border-style: solid;
    border-color: #bbb #888 #666 #aaa;
    border-width: 1px 2px 2px 1px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    height: 28px;
    margin: 8px 8px 0px 5px;
    width: 28px;
}

.stop-replay {
    background-image: url('btn-stop.png') !important;
}
